[alias]
	st=status
	co=checkout
    com=checkout master
    cam=commit -a -m
    cm=commit -m
    br=branch
	d=diff
	a=add
	graph=log --pretty=format:'%Cred%h %Cgreen%d%Creset %C(cyan)%cn %C(yellow)%cd%Creset %s' --graph --branches --all
    wdiff=diff --word-diff
    st=status -sb -uno
	unstage=reset HEAD
	uncommit=reset --soft HEAD^
	root=!pwd
    poule=pull
	choucroute=checkout

[user]
	name = Ivan \"Colona\" Delalande
	email = colona@ycc.fr
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
